.navbar {
    padding: 1px;
    padding-left: 35px;
    padding-right: 35px;
}

.list {
    font-weight: bold;
}

.menu {
    display: none;
}

.main {
    padding-left: 45px;
    padding-right: 45px;
}

.section1 {
    display: flex;
    gap: 20px;   
}

.leftpanelchart {
    width: 881px;
    height: 510px;
}

.rightpanelnote {
    width: 427px;
}

.leftpanellist {
    display: flex;
    gap: 22px;
}

@media (max-width:800px) {
    .list {
        font-size: 14px;
    }
}

@media (max-width:720px) {
    .list {
        font-size: 12.5px;
    }
}

@media (max-width: 640px) {
    .navbar {
        padding-left: 14px;
        padding-right: 14px;
    }
    .list {
        gap: 14px;
    }
}

@media (max-width: 549px) {
    .list {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu li {
        margin-top: 3px;
    }

    .navbar {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media (max-width: 1440px) {
    .leftpanelchart {
        width: 840px;
    }
    .rightpanelnote {
        width: 410px;
    }
}

@media (max-width: 1390px) {
    .leftpanelchart {
        width: 820px;
    }
    .rightpanelnote {
        width: 390px;
    }
}

@media (max-width: 1350px) {
    .leftpanelchart {
        width: 800px;
    }
    .rightpanelnote {
        width: 365px;
    }
}

@media (max-width: 1300px) {
    .leftpanelchart {
        width: 750px;
    }
    .rightpanelnote {
        width: 365px;
    }
}

@media (max-width: 1250px) {
    .leftpanelchart {
        width: 700px;
    }
    .rightpanelnote {
        width: 365px;
    }
}

@media (max-width: 1200px) {
    .leftpanelchart {
        width: 650px;
    }
    .rightpanelnote {
        width: 365px;
    }
    .leftpanellist {
        font-size: 14px;
    }
}

@media (max-width: 1150px) {
    .leftpanelchart {
        width: 630px;
    }
    .rightpanelnote {
        width: 350px;
    }

    .rightpanelnote h1 {
        font-size: larger;
    }

    .rightpanelnote p {
        font-size: 13.5px;
    }

    .leftpanellist {
        font-size: 14px;
    }
}

@media (max-width:1100px) {
    .leftpanelchart {
        width: calc(100vw - 120px);
    }

    .leftpanellist {
        justify-content: space-between;
        font-size: 15px;
    }

    .rightpanel {
        display: none;
    }
}

@media (max-width:750px) {
    .leftpanellist {
        width: calc(100vw - 80px);
        overflow-x: scroll;
    }

    .leftpanellist li {
        width: 400px;
        text-wrap: nowrap;
    }
}

@media (max-width:600px) {
    .leftpanelchart {
        height: 391px;
    }
}