.navbar {
    padding: 1px;
    padding-left: 35px;
    padding-right: 35px;
}

.list {
    font-weight: bold;
}

.menu {
    display: none;
}

.main {
    padding-left: 45px;
    padding-right: 45px;
}

.section1 {
    display: flex;
    gap: 20px;   
}

.leftpanelchart {
    width: 881px;
    height: 500px;
}

@media (max-width:800px) {
    .list {
        font-size: 14px;
    }
}

@media (max-width:720px) {
    .list {
        font-size: 12.5px;
    }
}

@media (max-width: 640px) {
    .navbar {
        padding-left: 14px;
        padding-right: 14px;
    }
    .list {
        gap: 14px;
    }
}

@media (max-width: 549px) {
    .list {
        display: none;
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .menu li {
        margin-top: 3px;
    }

    .navbar {
        padding-left: 20px;
        padding-right: 20px;
    }

}